  body {
         background-color: #FBB117;
      }

      main {
         background-color: white;
         border-radius: 10px;
         width: 50%;
         padding: 10px;
         margin: 0 auto;
         text-align: center
      }

      .madlib {
         padding: 20px;
         font-family: sans-serif;
      }
Status API Training Shop Blog About Pricing
